go 1.26.0

use (
	./llm-agent
	./llm-agent-contract
	./llm-agent-customer-support
	./llm-agent-flow
	./llm-agent-memory
	./llm-agent-memory-client
	./llm-agent-memory-contract
	./llm-agent-memory-gateway
	./llm-agent-memory-postgres
	./llm-agent-memory-worker
	./llm-agent-otel
	./llm-agent-providers
	./llm-agent-rag
	./llm-agent-builtin
	./llm-agent-policy
	./llm-agent-comm
)
